@import "normalize";
@import "bootstrap";


header a img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

ul#primary-menu  {
    background: #313131;
    width: 100%;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    font-size: 0; /* fix li inline space hack */
    padding: 0;

    li {
        display: inline-block;
        margin: 0;
        padding: 7px;

        &:hover,
        &.current_page_item {
            background: #4d4d4d;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            display: block;
            padding: 5px;
        }
    }
}

.page-content {
    margin-top: 50px;

    .wrap-iframe {
        text-align: center;
        margin-bottom: 20px;

        iframe {
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            height: 400px;
        }
    }
}