@import "normalize";
@import "bootstrap";

.site-branding img {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
    max-width: 100%;
}

nav .main-navigation {
    background: #4d4d4d;
}